<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница :: Магазины</title>

</head>
<body>
    <h1>Список магазинов:</h1>
    <div>
        {% for shop in shops %}
        <a href="/shop/{{shop.pk}}">{{ shop.brand }}</a>
        {% endfor %}
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
        {% endif %}
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
        {% endif %}
        <a href="{% url 'logout' %}">Выйти</a>
    </div>

</body>
</html>